﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-md-6">
            <img src="~/Images/isdemir-iskenderun-demir-ve-celik-a-s-logo-7B506CE269-seeklogo.com.png" />
        </div>
    </div>
</div>

