﻿
@using GatewayAppMVC.Models
@model BannedGateway

<style>
/*    #managementDiv {
        background-image: url('../Images/logo.png');
        background-repeat: no-repeat;
    }*/
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="managementDiv">
            <h3 id="managementTitle"></h3>
            <img src="" id="gt1" />
            <p id="management" style="color:red"></p>
        </div>
        <div class="col-md-6" style="padding-left:50px" id="receptionDiv">
            <h5 id="receptionTitle"></h5>
            <img src="" id="gt2" />
            <p id="reception" style="color:red"></p>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="row">

        <div class="col-md-6" id="officeDiv">
            <h3 id="officeTitle"></h3>
            <img src="" id="gt3" />
            <p id="office" style="color:red"></p>
        </div>
        <div class="col-md-6" style="padding-left:50px" id="technicalDiv">
            <h3 id="technicalTitle"></h3>
            <img src="" id="gt4" />
            <p id="technical" style="color:red"></p>
        </div>
    </div>
</div>



@if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 1") || (Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 1") || (Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 1") || (Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 1"))
{
    <script>
        $(document).ready(function () {
            $('#gt1').attr('src', '/Images/alarm_on.png');

            //$('#managementDiv').prepend('<img src="/Images/alarm_on.png" />')
        });

    </script>
    if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 1") && Model.IsBanned1 == true)
    {
        <script>
            $(document).ready(function () {
                $("#management").append(" <b>@Model.VisitorFullName1-</b>");

            });

        </script>
    }
    if ((Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 1") && Model.IsBanned2 == true)
    {
        <script>
            $(document).ready(function () {
                $("#management").append(" <b>@Model.VisitorFullName2-</b>");

            });

        </script>
    }
    if ((Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 1") && Model.IsBanned3 == true)
    {
        <script>
            $(document).ready(function () {
                $("#management").append(" <b>@Model.VisitorFullName3-</b>");

            });

        </script>
    }
    if ((Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 1") && Model.IsBanned4 == true)
    {
        <script>
            $(document).ready(function () {
                $("#management").append(" <b>@Model.VisitorFullName4-</b>");

            });

        </script>
    }
}

else
{
    <script>
        $(document).ready(function () {

            $('#gt1').attr('src', '/Images/alarm_off.png');
            //$('#managementDiv').prepend('<img src="/Images/alarm_off.png" />');
        });

    </script>
}

@if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 2") || (Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 2") || (Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 2") || (Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 2"))
{
    <script>
        $(document).ready(function () {
            $('#gt2').attr('src', '/Images/alarm_on.png');
            //$('#receptionDiv').prepend('<img src="/Images/alarm_on.png" />');

        });

    </script>
    if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 2") && Model.IsBanned1 == true)
    {
        <script>
            $(document).ready(function () {
                $("#reception").append(" <b>@Model.VisitorFullName1-</b>");

            });

        </script>
    }
    if ((Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 2") && Model.IsBanned2 == true)
    {
        <script>
            $(document).ready(function () {
                $("#reception").append(" <b>@Model.VisitorFullName2-</b>");

            });

        </script>
    }
    if ((Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 2") && Model.IsBanned3 == true)
    {
        <script>
            $(document).ready(function () {
                $("#reception").append(" <b>@Model.VisitorFullName3-</b>");

            });

        </script>
    }
    if ((Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 2") && Model.IsBanned4 == true)
    {
        <script>
            $(document).ready(function () {
                $("#reception").append(" <b>@Model.VisitorFullName4-</b>");

            });

        </script>
    }
}

else
{
    <script>
        $(document).ready(function () {

            $('#gt2').attr('src', '/Images/alarm_off.png');
            //$('#receptionDiv').prepend('<img src="/Images/alarm_off.png" />');
        });

    </script>
}

@if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 3") || (Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 3") || (Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 3") || (Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 3"))
{
    <script>
        $(document).ready(function () {
            $('#gt3').attr('src', '/Images/alarm_on.png');
            //$('#officeDiv').prepend('<img src="/Images/alarm_on.png" />');
        });

    </script>
    if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 3") && Model.IsBanned1 == true)
    {
        <script>
            $(document).ready(function () {
                $("#office").append(" <b>@Model.VisitorFullName1-</b>");

        });

        </script>
    }
    if ((Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 3") && Model.IsBanned2 == true)
    {
        <script>
            $(document).ready(function () {
                $("#office").append(" <b>@Model.VisitorFullName2-</b>");

        });

        </script>
    }
    if ((Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 3") && Model.IsBanned3 == true)
    {
        <script>
            $(document).ready(function () {
                $("#office").append(" <b>@Model.VisitorFullName3-</b>");

        });

        </script>
    }
    if ((Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 3") && Model.IsBanned4 == true)
    {
        <script>
            $(document).ready(function () {
                $("#office").append(" <b>@Model.VisitorFullName4-</b>");

        });

        </script>
    }
}

else
{
    <script>
        $(document).ready(function () {
            $('#gt3').attr('src', '/Images/alarm_off.png');
            //$('#officeDiv').prepend('<img src="/Images/alarm_off.png" />')
        });

    </script>
}

@if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 4") || (Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 4") || (Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 4") || (Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 4"))
{
    <script>
        $(document).ready(function () {
            $('#gt4').attr('src', '/Images/alarm_on.png');
            //$('#technicalDiv').prepend('<img src="/Images/alarm_on.png" />');
        });

    </script>
    if ((Model.GatewayName1 != null && Model.GatewayName1 == "Gateway 4") && Model.IsBanned1 == true)
    {
        <script>
            $(document).ready(function () {
                $("#technical").append(" <b>@Model.VisitorFullName1-</b>");

        });

        </script>
    }
    if ((Model.GatewayName2 != null && Model.GatewayName2 == "Gateway 4") && Model.IsBanned2 == true)
    {
        <script>
            $(document).ready(function () {
                $("#technical").append(" <b>@Model.VisitorFullName2-</b>");

        });

        </script>
    }
    if ((Model.GatewayName3 != null && Model.GatewayName3 == "Gateway 4") && Model.IsBanned3 == true)
    {
        <script>
            $(document).ready(function () {
                $("#technical").append(" <b>@Model.VisitorFullName3-</b>");

        });

        </script>
    }
    if ((Model.GatewayName4 != null && Model.GatewayName4 == "Gateway 4") && Model.IsBanned4 == true)
    {
        <script>
            $(document).ready(function () {
                $("#technical").append(" <b>@Model.VisitorFullName4-</b>");

        });

        </script>
    }
}
else
{
    <script>
        $(document).ready(function () {

            $('#gt4').attr('src', '/Images/alarm_off.png');
            //$('#technicalDiv').prepend('<img src="/Images/alarm_off.png" />');
        });

    </script>
}
