﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="container" id="fixed">
    <div class="row">
        <h2>İzleme Takip</h2>
        <br />
        <br />
        <br />
        <div class="col-md-12" id="column1">


            <div class="container">
                <div class="row">
                    <div class="col-md-6" id="managementDiv">
                        <h3 id="managementTitle">Yönetim</h3>
                        <img src="" id="gt1" />
                        <p id="management1" style="color:red"></p>
                        <p id="management2" style="color:red"></p>
                        <p id="management3" style="color:red"></p>
                        <p id="management4" style="color:red"></p>
                    </div>
                    <div class="col-md-6" style="padding-left:50px" id="receptionDiv">
                        <h5 id="receptionTitle">Danışma</h5>
                        <img src="" id="gt2" />
                        <p id="reception1" style="color:red"></p>
                        <p id="reception2" style="color:red"></p>
                        <p id="reception3" style="color:red"></p>
                        <p id="reception4" style="color:red"></p>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <div class="row">

                    <div class="col-md-6" id="officeDiv">
                        <h3 id="officeTitle">Ofis</h3>
                        <img src="" id="gt3" />
                        <p id="office1" style="color:red"></p>
                        <p id="office2" style="color:red"></p>
                        <p id="office3" style="color:red"></p>
                        <p id="office4" style="color:red"></p>
                    </div>
                    <div class="col-md-6" style="padding-left:50px" id="technicalDiv">
                        <h3 id="technicalTitle">Teknik</h3>
                        <img src="" id="gt4" />
                        <p id="technical1" style="color:red"></p>
                        <p id="technical2" style="color:red"></p>
                        <p id="technical3" style="color:red"></p>
                        <p id="technical4" style="color:red"></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script src="/Template/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        //setInterval(function () { $("#column1").load("/Watch/GetBeaconPosition") }, 300);

        setInterval(setColor, 100);

        function setColor() {
             $.ajax({
                 url: '/Watch/GetBeaconPosition',
                type: 'Get',
                dataType: 'json',
                 success: function (data) {

                    if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 1") || (data.gatewayName2 != null && data.gatewayName2 == "Gateway 1") || (data.gatewayName3 != null && data.gatewayName3 == "Gateway 1") || (data.gatewayName4 != null && data.gatewayName4 == "Gateway 1"))
                    {

                      $('#gt1').attr('src', '/Images/alarm_on.png');

                        if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 1") && data.isBanned1 == true)
                        {

                            result = data.visitorFullName1;
                            $("#management1").text(result);

                            }
                        if ((data.gatewayName2 != null && data.gatewayName2 == "Gateway 1") && data.isBanned2 == true)
                         {

                            result = data.visitorFullName2;
                            $("#management2").text(result);

                             }
                        if ((data.gatewayName3 != null && data.gatewayName3 == "Gateway 1") && data.isBanned3 == true)
                         {

                            result = data.visitorFullName3;
                            $("#management3").text(result);

                              }
                        if ((data.gatewayName4 != null && data.gatewayName4 == "Gateway 1") && data.isBanned4 == true)
                        {
                            result = data.visitorFullName4;
                            $("#management4").text(result);
                        }
                      }

                    else {
                        $('#gt1').attr('src', '/Images/alarm_off.png');
                    }

                    if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 2") || (data.gatewayName2 != null && data.gatewayName2 == "Gateway 2") || (data.gatewayName3 != null && data.gatewayName3 == "Gateway 2") || (data.gatewayName4 != null && data.gatewayName4 == "Gateway 2"))
                    {
                      $('#gt2').attr('src', '/Images/alarm_on.png');

                        if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 2") && data.isBanned1 == true)
                        {

                            result = data.visitorFullName1;
                            $("#reception1").text(result);

                        }
                        if ((data.gatewayName2 != null && data.gatewayName2 == "Gateway 2") && data.isBanned2 == true)
                        {

                            result = data.visitorFullName2;
                            $("#reception2").text(result);

                        }
                        if ((data.gatewayName3 != null && data.gatewayName3 == "Gateway 2") && data.isBanned3 == true)
                        {

                            result = data.visitorFullName3;
                            $("#reception3").text(result);


                        }
                        if ((data.gatewayName4 != null && data.gatewayName4 == "Gateway 2") && data.isBanned4 == true)
                        {
                            result = data.visitorFullName4;
                            $("#reception4").text(result);
                        }
                    }

                    else {
                        $('#gt2').attr('src', '/Images/alarm_off.png');
                        $("#management1").text('');
                        $("#management2").text('');
                        $("#management3").text('');
                        $("#management4").text('');
                    }

                     if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 3") || (data.gatewayName2 != null && data.gatewayName2 == "Gateway 3") || (data.gatewayName3 != null && data.gatewayName3 == "Gateway 3") || (data.gatewayName4 != null && data.gatewayName4 == "Gateway 3"))
                    {

                      $('#gt3').attr('src', '/Images/alarm_on.png');

                    if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 3") && data.isBanned1 == true)
                   {
                        result =data.visitorFullName1;
                        $("#office1").text(result);

                   }
                    if ((data.gatewayName2 != null && data.gatewayName2 == "Gateway 3") && data.isBanned2 == true)
                        {
                        result = data.visitorFullName2;
                        $("#office2").text(result);
                        }
                    if ((data.gatewayName3 != null && data.gatewayName3 == "Gateway 3") && data.isBanned3 == true)
                    {
                        result = data.visitorFullName3;
                        $("#office3").text(result);
                     }
                    if ((data.gatewayName4 != null && data.gatewayName4 == "Gateway 3") && data.isBanned4 == true)
                     {
                        result = data.visitorFullName4;
                        $("#office4").text(result);
                     }
                    }

                     else {
                         $('#gt3').attr('src', '/Images/alarm_off.png');
                         $("#office1").text('');
                         $("#office2").text('');
                         $("#office3").text('');
                         $("#office4").text('');
                     }

                    if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 4") || (data.gatewayName2 != null && data.gatewayName2 == "Gateway 4") || (data.gatewayName3 != null && data.gatewayName3 == "Gateway 4") || (data.gatewayName4 != null && data.gatewayName4 == "Gateway 4")) {
                        $('#gt4').attr('src', '/Images/alarm_on.png');
                        if ((data.gatewayName1 != null && data.gatewayName1 == "Gateway 4") && data.isBanned1 == true) {
                            result = data.visitorFullName1;
                            $("#technical1").text(result);
                        }
                        if ((data.gatewayName2 != null && data.gatewayName2 == "Gateway 4") && data.isBanned2 == true) {
                            result = data.visitorFullName2;
                            $("#technical2").text(result);
                        }
                        if ((data.gatewayName3 != null && data.gatewayName3 == "Gateway 4") && data.isBanned3 == true) {
                            result = data.visitorFullName3;
                            $("#technical3").text(result);

                        }
                        if ((data.gatewayName4 != null && data.gatewayName4 == "Gateway 4") && data.isBanned4 == true) {

                            result = data.visitorFullName4;
                            $("#technical4").text(result);
                        }
                     }


                    else {
                        $('#gt4').attr('src', '/Images/alarm_off.png');
                        $("#technical1").text('');
                        $("#technical2").text('');
                        $("#technical3").text('');
                        $("#technical4").text('');
                    }

                    },
                    error: function (hata) {
                                    alert("hata");
                    }
                });
        }

    });

</script>
