﻿
@{
    ViewBag.Title = "ActiveVisitorList";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using GatewayAppMVC.Models
@model IEnumerable<ActiveVisitorListModel>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Aktif Ziyaretçiler</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Telefon</th>
                        <th>Adres</th>
                        <th>Email</th>
                        <th>Cihaz Adı</th>
                        <th>İzinli Bölgeler</th>
                        <th>Yasaklı Bölgeler</th>
                        <th>işlem</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.BeaconName</td>
                                <td>
                                    @foreach (var allow in item.AllowedGatewayList)
                                    {
                                        <p>@allow</p>
                                    }
                                </td>
                                <td>
                                    @foreach (var banned in item.BannedGatewayList)
                                    {
                                        <p>@banned</p>
                                    }
                                </td>
                                <td><a href="#" class="removeVisitor btn btn-danger" data-id="@item.Id">Kartı teslim al</a></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="/Template/vendor/jquery/jquery.min.js"></script>

<script>
    $("a.removeVisitor").on("click", function () {

        var id = $(this).attr("data-id");
        var closestTR = $(this).closest("tr");

        bootbox.confirm({
            message: "Kartı teslim almak istediğinize emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        method: 'POST',
                        url: '/Visitor/PassiveVisitor',
                        data: {id:id},
                        dataType: 'json',   
                        success: function (x) {
                            if (x == true) {
                                closestTR.fadeOut(1000, function () {
                                    closestTR.remove();
                                });
                            }
                            else bootbox.alert("Silme işlemi sırasında hata oluştu");
                        },
                        error: function () {
                              bootbox.alert("Hata");
                        }
                    });
                }
            }
        });

    });
</script>