﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using GatewayAppMVC.Models
@model IEnumerable<BeaconList>


@*<style>
        .container {
            position: fixed;

        }
    </style>*@

<div class="container">
    <h2>Ziyaretçi Formu</h2>
    <br />
    <form action="/Visitor/SaveVisitor" class="was-validated">
        <div class="form-group">
            <label for="uname">Ad Soyad :</label>
            <input type="text" class="form-control" id="uname" placeholder="Ad Soyad Giriniz" name="fullName" required>
            @*<div class="valid-feedback">Valid.</div>*@
            <div class="invalid-feedback">Doldurulması zorunlu alan.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Telefon:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Telefon Giriniz" name="phoneNumber" required>
            @*<div class="valid-feedback">Valid.</div>*@
            <div class="invalid-feedback">Doldurulması zorunlu alan.</div>
        </div>

        <div class="form-group">
            <label for="pwd">Adres:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Adres Giriniz" name="address" required>
            @*<div class="valid-feedback">Valid.</div>*@
            <div class="invalid-feedback">Doldurulması zorunlu alan.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Email:</label>
            <input type="email" class="form-control" id="pwd" placeholder="Email Giriniz" name="email" required>
            @*<div class="valid-feedback">Valid.</div>*@
            <div class="invalid-feedback">Doldurulması zorunlu alan.</div>
        </div>

        <div class="form-group">
            <label for="pwd">Cihaz Seçiniz:</label>

            <select class="form-control" name="beaconId">
                @{
                    if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }

                }
            </select>
            <div class="invalid-feedback">Doldurulması zorunlu alan.</div>
        </div>

        <br />
        <h5>Giriş yapılacak alanları seçiniz : </h5>
        <br />

        <div class="checkbox">
            <label><input type="checkbox" value="1" name="gateway1"> Yönetim</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="2" name="gateway2"> Danışma</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="3" name="gateway3"> Ofis</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="4" name="gateway4"> Teknik</label>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>





@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}