﻿
@using GatewayAppMVC.Models
@model ViewModel


<style>
    #pin1,#text1 {
                position: absolute;
                left: @Model.CentroX1;
                top: @Model.CentroY1;
                    z-index: -1;
                }

    #pin2, #text2 {
        position: absolute;
        left: @Model.CentroX2;
        top: @Model.CentroY2;
        z-index: -1;
    }
    #pin3, #text3 {
        position: absolute;
        left: @Model.CentroX3;
        top: @Model.CentroY3;
        z-index: -1;
    }
    #pin4, #text4 {
        position: absolute;
        left: @Model.CentroX3;
        top: @Model.CentroY3;
        z-index: -1;
    }
    #pin5, #text5 {
        position: absolute;
        left: @Model.CentroX3;
        top: @Model.CentroY3;
        z-index: -1;
    }
</style>



@if (Model.CentroX1 != null && Model.CentroY1 != null)
{
    <p id="text1" style="color:blue">@Model.Visitor1</p>
    <img id="pin1" src="~/Images/pin.png" title="" />
}

@if (Model.CentroX2 != null && Model.CentroY2 != null)
{
    <p id="text2" style="color:blue">@Model.Visitor2</p>
    <img id="pin2" src="~/Images/pin.png" />
}

@if (Model.CentroX3 != null && Model.CentroY3 != null)
{
    <p id="text3" style="color:blue">@Model.Visitor3</p>
    <img id="pin3" src="~/Images/pin.png" />
}

@if (Model.CentroX4 != null && Model.CentroY4 != null)
{
    <p id="text4">@Model.Visitor4</p>
    <img id="pin4" src="~/Images/pin.png" />
}

@if (Model.CentroX5 != null && Model.CentroY5 != null)
{
    <p id="text5" style="color:blue">@Model.Visitor5</p>
    <img id="pin5" src="~/Images/pin.png" />
}