﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    /*#bgImage {
        background-image: url('../Images/Harita.PNG');*/
    /* position: fixed;*/
    /*background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;*/
    /*   width: 100%;
        height: auto;
        background-size: auto;*/
    /*}*/
    #myContainer {
        position: fixed;
        background-image: url('../Images/HaritaNew_2.PNG');
        background-repeat: no-repeat;
        height: 1200px;
        width: 1600px;
    }
</style>


<div class="container" id="myContainer">
    <div class="row">
        @*<h2>Harita</h2>*@
        <div class="col-md-12" id="bgImage">
            <div id="ChangePin" class="col-md-12">

            </div>
        </div>
    </div>
</div>

<script src="/Template/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        setInterval(function () { $("#ChangePin").load("/Map/GetPositonsView") }, 1000);
    });
</script>